
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Caculator Client</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
           
            $(":button").click(function () {
                alert("ok");
                var value1 = $("#txtValue1").val();
                var value2 = $("#txtValue2").val();
                var arg = "value1=" + value1 + "&value2=" + value2 + "&subscription-key=ecc12ac0c42b41ca8d8778a5453b1b4c";
                
               // var arg = "a=" + value1 + "&b=" + value2 + "&subscription-key=ecc12ac0c42b41ca8d8778a5453b1b4c";
                var control = event.target || event.srcElement;
                var id = control.id

                //var urlString = "http://localhost:50673/api/math/";
                var urlString = "http://sarojapi1.azure-api.net/api/Math/";
                //var urlString = "https://sarojapi1.azure-api.net/calc/";
                //var urlString = "/api/math/";
                alert("Id=" + id);
                switch (id) {
                    case 'btnAdd':
                        urlString = urlString + "Add/?" + arg;
                        break;
                    case 'btnMinus':
                        urlString = urlString + "Substract/?" + arg;
                        break;
                    case 'btnMultiply':
                        urlString = urlString + "Multiply/?" + arg;
                        break;
                    case 'btnDivide':
                        urlString = urlString + "Divide/?" + arg;
                        break;
                    default:
                        urlString = urlString + "hello";
                        
                }
                alert(urlString);
                $.ajax({
                    url: urlString,
                    headers: { 'Ocp-Apim-Subscription-Key': '6d5ed66744a14f2eb23618880e82162a' },
                    type: "GET",
                    dataType: 'json',
                    success: function (result) {
                        alert(result);
                        $("#txtResult").val(result);

                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        $("#txtResult").val(err.Message)
                    }
                });
            });

        });
        
    </script>

</head>
<body>
    <div style="text-align:center">
        <h2>Calculator client - JQuery</h2>

        <!-- Number type is not supported in IE9 and prior versions -->
        Please enter Value1 :   <input type="number"
                                       id="txtValue1" min="1" max="100"><br><br>
        Please enter Value2 :   <input type="number"
                                       id="txtValue2" min="1" max="100"><br /><br>
        Result from Math API Service : <input type="text"
                                              id="txtResult" disabled /><br /><br>
        <input type="button" value="Add" id="btnAdd">
        <input type="button" value="Substract" id="btnMinus">
        <input type="button" value="Multiply" id="btnMultiply">
        <input type="button" value="Divide" id="btnDivide">

    </div>

</body>
</html>
